!!!
%html
  %head
    %title FoundationPlayground
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .row
      .twelve.columns
        #main
          = yield
          #myModal.reveal-modal.xlarge
            %h2 Awesome I have it.
            %p.lead Your couch.  It is imine.
            %p I'm a cool paragraph
            %a.close-reveal-modal &#215;
          %a{:href => "#", "data-reveal-id"=> "myModal"} Click Me for a modal

          .row
            .small-12.large-7.columns
              #row-left
                row left
            .small-12.large-5.columns
              #row-right
                row right
      = javascript_include_tag "application"
      :javascript
        $(document).foundation();